.topJob{
  background-color: #5E50A1;
}

.searchbar {
  height: 60px;
  border: none;
  margin-left: 50px;
}

.searchMenu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-left: -550px;
}

.searchDropdown {
  border: none;
  color:#9EA0A5;
  border-left: 1px solid #9EA0A5;
  background-color: #ffffff;
}

.searchBtn {
  background-color: #5E50A1;
  color: #ffffff;
  height: 44px;
  border: none;
  border-radius: 4px;
}

.searchBtn:hover {
  background-color: #43377e;
}

.profileImage {
  border-radius: 50%;
}

.text {
  color: #9EA0A5;
}

.textAddress {
  margin-top: -5px;
  margin-left: -15px;
}

.btnSkills {
  background-color: rgba(251, 176, 23, 0.6);
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.links {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .topJob {
    margin-left: -75px;
  }

  .searchMenu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-left: -140px;
  }

  .categoryMobile {
    display: none;
  }

  .searchBtn {
    display: none;
  }

  .cardMobile {
    margin-left: 12px;
  }
}